<!-- <ng-container *ngIf="singleUnit">
  <h2>{{ singleUnit.name }}</h2>
</ng-container> -->
@if (detail){
  <ng-container class="content">
    <div class="detail-block">
      <h2 color="black">{{ detail.name }}</h2>
      <table>
        <tr *ngFor="let row of detail.rows">
          <td>{{ row.label }}</td>
          <td class="input-container">
            <input type="number" placeholder="Enter value" [(ngModel)]="row.value"
              (focus)="activeRowId = row.id" (ngModelChange)="onInputChange(row)" />
          </td>
          <td>{{ row.symbol }}</td>
        </tr>
        <tr>
          <button nz-button nzType="dashed" (click)="deleteAllInputs()">
            <nz-icon nzType="delete" />
            Clear
          </button>
        </tr>
      </table>
    </div>

  </ng-container>
}

