table {
  width: 700px;
  height: 80px;
  table-layout: fixed;
}

td {
  vertical-align: middle;
  height: 80px;
}

td:first-child {
  width: 110px;
}

td:nth-child(2) {
  width: 640px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
}
td:last-child {
  width: 280px;
  text-align: right;
  padding-right: 16px;
}
.logo {
  height: 60px;
}

ng-icon {
  font-size: 30px;
  color: #ff1861;
}

.logo {
  height: 120px;
  width: auto;/* keeps aspect ratio */
}
