<nz-switch [(ngModel)]="theme">
  <span checked>Dark</span>
  <span unchecked>Light</span>
</nz-switch>

<ul nz-menu nzMode="inline" style="width: 200px; max-height: 80vh; overflow-y: auto;" [nzTheme]="theme ? 'dark' : 'light'">
  @for (menu of menus; track menu) {
  <ng-container>
    <li nz-submenu nzOpen nzTitle={{menu.title}}>
      <ul>
        @for (unit of menu.units; track unit) {
        <ng-container>
          <li nz-menu-item (click)="selectUnit(unit)" (contextmenu)="onUnitRightClick($event, unit)">
            <i nz-icon [nzType]="unit.icon"></i><span>{{ unit.name }}</span>
            @if (contextMenuUnit === unit) {
              <!--stopPropagation():click inside the context menu panel (including the buttons), it doesn’t trigger the "click outside" logic.-->
            <div class="context-unit-menu" [style.top.px]="contextMenuPosition.y" [style.left.px]="contextMenuPosition.x" >
              @if (!unit.isFavorite) {
              <button nz-button nzType="default" (click)="addToFavorite(unit); $event.stopPropagation()">Add to Favorite</button>
              }
              @if( unit.isFavorite) {
              <button nz-button nzType="default" (click)="removeFromFavorite(unit); ">Remove from Favorites</button>
              }
            </div>
            }
          </li>
        </ng-container>
      }
      </ul>
    </li>
  </ng-container>
  }

  <li nz-submenu nzTitle="Common File Converter" nzIcon="file-unknown">
    <ul>
      <li nz-submenu nzTitle="PDF-DOC"></li>
      <li nz-submenu nzTitle="csv-excel"></li>
    </ul>
  </li>
  <li nz-submenu nzTitle="Currency" nzIcon="money-collect">
    <ul>
      <li nz-menu-item>Option 9</li>
      <li nz-menu-item>Option 10</li>
      <li nz-menu-item>Option 11</li>
    </ul>
  </li>
</ul>
